{% extends 'admin_index.html' %}
{% load static %}
{% block title %}Сотрудники{% endblock %}
{% block content %}


    <div class="page-content-wrapper ">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">ТН ВЭД ЕАЭС</a></li>
                                <li class="breadcrumb-item active">Сотрудники</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Сотрудники</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card text-white card-success">
                                <div class="card-body">
                                    <div class="d-sm-flex align-self-center">
                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt=""
                                             class="thumb-lg rounded-circle">
                                        <div class="media-body ml-2 align-self-center">
                                            <p class="mb-0">Владислав Троицкий</p>
                                            <span class="font-12 text-light">Лотта</span>
{#                                            <div>#}
{#                                                <span class="badge badge-light">Python</span>#}
{#                                                <span class="badge badge-light">Angular</span>#}
{#                                                <span class="badge badge-light">Node</span>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card text-white card-success">
                                <div class="card-body">
                                    <div class="d-sm-flex align-self-center">
                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt=""
                                             class="thumb-lg rounded-circle">
                                        <div class="media-body ml-2 align-self-center">
                                            <p class="mb-0">Вячеслав Андреев</p>
                                            <span class="font-12 text-light">Брусничное</span>
{#                                            <div>#}
{#                                                <span class="badge badge-light">Python</span>#}
{#                                                <span class="badge badge-light">Angular</span>#}
{#                                                <span class="badge badge-light">Node</span>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card text-white card-success">
                                <div class="card-body">
                                    <div class="d-sm-flex align-self-center">
                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt=""
                                             class="thumb-lg rounded-circle">
                                        <div class="media-body ml-2 align-self-center">
                                            <p class="mb-0">Станислав Борецкий</p>
                                            <span class="font-12 text-light">Торфяновка</span>
{#                                            <div>#}
{#                                                <span class="badge badge-light">Python</span>#}
{#                                                <span class="badge badge-light">Angular</span>#}
{#                                                <span class="badge badge-light">Node</span>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card text-white card-success">
                                <div class="card-body">
                                    <div class="d-sm-flex align-self-center">
                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt=""
                                             class="thumb-lg rounded-circle">
                                        <div class="media-body ml-2 align-self-center">
                                            <p class="mb-0">Петр Николенко</p>
                                            <span class="font-12 text-light">Лотта</span>
{#                                            <div>#}
{#                                                <span class="badge badge-light">Python</span>#}
{#                                                <span class="badge badge-light">Angular</span>#}
{#                                                <span class="badge badge-light">Node</span>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div><!-- container -->

    </div> <!-- Page content Wrapper -->
{% endblock %}