<!DOCTYPE html>
{% load static %}

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Восстановление пароля</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <div class="text-center m-b-15">
                        <a href="{% url 'login' %}" class="logo logo-admin"><img src="{% static 'images/logo.png' %}" height="60" alt="logo"></a>
                    </div>

                    <div class="p-3">
                        <form class="form-horizontal" action="{% url 'login' %}">

                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                Введите свой <b>адрес электронной почты</b>, и вам будут высланы инструкции!
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="email" required="" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Отправить на Email</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/modernizr.min.js' %}"></script>
        <script src="{% static 'js/detect.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>

    </body>
</html>