.select {
  position: relative;
  width: 100%;
}

.select__toggle {
  display: flex;
  background-color: #23232A14;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  line-height: 1.4;
  user-select: none;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 5%;
}

.select__toggle::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  margin-left: 1rem;
  background-size: cover;
  background-image: url('/static/images/caret-down-fill.svg')
  }

.select__toggle:focus {
  outline: none;
}
.select_show .select__toggle{
  color: #0C0C0D7A;
}

.select_show .select__toggle::after {
  transform: rotate(180deg);
}

.select__dropdown {
  display: none;
  position: absolute;
  font-size: 18px;
  top: 4rem;
  left: 0;
  padding-top: 8px;
  right: 0;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0 0 12px 12px;
  z-index: 3;
  background-color: #e8e8e9;
}

.select_show .select__dropdown {
  display: block;
}

.select_show .select__backdrop {
  display: block;
}

.select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select__option {
  padding: 10px 15px;
}

.select__option_selected {
  background-color: #23232A14;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__option_selected::after {
  content: '';
  width: 1rem;
  height: 1rem;
  color: #0277bd;
  background-size: cover;
  background-image: url("/static/images/check-circle-fill.svg")}

.select__option:hover {
  background-color: #59c390;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}
