{% extends 'employee_index.html' %}
{% load static %}
{% block title %}Товарная номенклатура{% endblock %}
{% block content %}


    <div class="page-content-wrapper ">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="btn-group float-right">
                            <ol class="breadcrumb hide-phone p-0 m-0">
                                <li class="breadcrumb-item"><a href="#">ТН ВЭД ЕАЭС</a></li>
                                <li class="breadcrumb-item active">Документация</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Актуальные документы</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #ffd0d4;height: 230px">Постановление Правительства Российской Федерации от 02.06.2022 №
                            1006 "О внесении изменений в Положение о Министерстве промышленности и торговли Российской
                            Федерации"</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Изменения в Положение о Министерстве промышленности и торговли
                                РФ</p>
                            <a href="https://www.alta.ru/tamdoc/22ps1006/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #dfffd0;height: 230px">Постановление Кабинета Министров Кыргызской Республики от
                            31.05.2022 № 294 "О внесении изменений в постановление Кабинета Министров Кыргызской
                            Республики "О введении временного запрета на вывоз (экспорт) отдельных видов
                            сельскохозяйственных товаров из Кыргызской Республики" от 17 марта 2022 года N 140"</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Изменения в постановление о временном запрете на вывоз
                                отдельных видов сельхозпродуктов</p>
                            <a href="https://www.alta.ru/tamdoc/22kg0294/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #dfffd0;height: 230px">Рекомендация Коллегии Евразийской экономической комиссии от
                            31.05.2022 № 22 "Об общих подходах к созданию в государствах – членах Евразийского
                            экономического союза систем референтных лабораторий"</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Общие подходы к созданию в государствах–членах ЕАЭС систем
                                референтных лабораторий</p>
                            <a href="https://www.alta.ru/tamdoc/22rk0022/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #dfffd0;height: 230px">Распоряжение Коллегии Евразийской экономической комиссии от 31.05.2022 № 89 "О проекте решения Совета Евразийской экономической комиссии "О внесении изменений в некоторые решения Совета Евразийской экономической комиссии в части маркировки лекарственных средств для медицинского применения и ветеринарных лекарственных средств""</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Проект решения Совета ЕЭК о внесении изменений в некоторые решения Совета ЕЭК в части маркировки лекарственных средств для медицинского применения и ветеринарных лекарственных средств</p>
                            <a href="https://www.alta.ru/tamdoc/22r00089/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #dfffd0;height: 230px">Распоряжение Коллегии Евразийской экономической комиссии от 31.05.2022 № 88 "О внесении изменений в состав Консультативного комитета по промышленности"</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Изменения в состав Консультативного комитета по промышленности</p>
                            <a href="https://www.alta.ru/tamdoc/22r00088/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header mt-0" style="background-color: #ffd0d4;height: 230px">Решение Коллегии Евразийской экономической комиссии от 31.05.2022 № 90 "О внесении изменений в Решение Коллегии Евразийской экономической комиссии от 29 мая 2018 г. N 93"</h4>
                        <div class="card-body">
                            <p class="font-13 text-muted">Изменения в Перечень стандартов, в результате применения которых на добровольной основе обеспечивается соблюдение требований техрегламента ТС "Безопасность лифтов"</p>
                            <a href="https://www.alta.ru/tamdoc/22kr0090/" target="_blank" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container -->

    </div> <!-- Page content Wrapper -->
{% endblock %}