{% extends 'employee_index.html' %}
{% load static %}
{% block title %}Товары{% endblock %}
{% block content %}
    {% load employee %}

    <div class="page-content-wrapper ">

        <div class="container-fluid">

            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Сравнение</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Данные по заявленному коду</h4>
                                    <p class="text-muted mb-4 font-13"></p>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="nav flex-column nav-pills text-center" id="v-pills-tab"
                                                 role="tablist" aria-orientation="vertical">
                                                <a class="nav-link waves-effect waves-light active"
                                                   id="v-pills-profile-tab"
                                                   data-toggle="pill" href="#v-pills-profile" role="tab"
                                                   aria-controls="v-pills-profile" aria-selected="false">Таможенные
                                                    пошлины</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="tab-content mo-mt-2" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="v-pills-profile"
                                                     role="tabpanel"
                                                     aria-labelledby="v-pills-profile-tab">
                                                    <h3 class="font-14 mb-0">Импортная
                                                        пошлина: {{ product.dt_code|get_import }}</h3>
                                                    <h3 class="font-14 mb-0">Экспортная
                                                        пошлина: {{ product.dt_code|get_export }}</h3>
                                                    <h3 class="font-14 mb-0">НДС (%): {{ product.dt_code|get_nds }}</h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <div class="col-lg-12" style="left: -32px">
                                <div class="card text-white card-success" style="    background-color: #d05d5d;
    border-color: #d05d5d;">
                                    <div class="card-body">
                                        <blockquote class="card-bodyquote mb-0">
                                            <div style="display: flex">
                                                <h1 id="white" style="color: white;">{{ product.dt_code }}</h1>
                                                <h1 id="yellow" style="color: #e0a800"></h1>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="right: -32px">
                                <div class="card text-white card-success">
                                    <div class="card-body">
                                        <blockquote class="card-bodyquote mb-0">
                                            <div style="display: flex; align-items: flex-start;">
                                                <div class="select" id="predict">
                                                    <button type="button" class="select__toggle" name="predict"
                                                            value="{{ predict.0.predict_code }}"
                                                            data-select="toggle"
                                                            data-index="0">
                                                        {{ predict.0.predict_code }}{% if predict.0.probability %} -
                                                            {{ predict.0.probability }}% {% endif %}
                                                    </button>
                                                    <div style="background: #eeeeee" class="select__dropdown">
                                                        <ul class="select__options">
                                                            {% for pred in predict %}
                                                                <li class="select__option" data-select="option"
                                                                    data-value="{{ pred.predict_code }}"
                                                                    data-index="">
                                                                    {{ pred.predict_code }} {% if pred.probability %} -
                                                                    {{ pred.probability }}%{% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                {#                                                <h1 style="text-align: end">#}
                                                {#                                                    {{ predict.0.predict_code }}{% if predict.0.probability %}<span#}
                                                {#                                                            class="badge badge-info">{{ predict.0.probability }}%</span>{% endif %}#}
                                                {#                                                </h1>#}
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Данные по вычисленному коду</h4>
                                    <p class="text-muted mb-4 font-13"></p>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="nav flex-column nav-pills text-center" id="v-pills-tab"
                                                 role="tablist" aria-orientation="vertical">
                                                <a class="nav-link waves-effect waves-light active"
                                                   id="v-pills-profile-tab1"
                                                   data-toggle="pill" href="#v-pills-profile1" role="tab"
                                                   aria-controls="v-pills-profile" aria-selected="false">Таможенные
                                                    пошлины</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="tab-content mo-mt-2" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="v-pills-profile1"
                                                     role="tabpanel"
                                                     aria-labelledby="v-pills-profile-tab">
                                                    <h3 class="font-14 mb-0">Импортная
                                                        пошлина: {{ predict.0|get_import }}</h3>
                                                    <h3 class="font-14 mb-0">Экспортная
                                                        пошлина: {{ predict.0|get_export }}</h3>
                                                    <h3 class="font-14 mb-0">НДС (%): {{ predict.0|get_nds }}</h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Заявленное описание</h4>
                                    <p>{{ product.descript }}</p>

                                    <div class="popup-gallery">

                                    </div>

                                </div>
                            </div>
                            <button type="button" id="btn1" class="btn btn-warning btn-lg btn-block">Принять</button>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Описание, под которое подходит заявленный код</h4>
                                    <p>{{ desc }}</p>

                                    <div class="popup-gallery">

                                    </div>

                                </div>
                            </div>
                            <button type="button" id="btn2" class="btn btn-gradient-success btn-block">Принять</button>
                        </div>
                    </div>

                </div><!-- container -->

            </div> <!-- Page content Wrapper -->
            <!-- end row -->

        </div><!-- container -->

    </div> <!-- Page content Wrapper -->
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/detect.js' %}"></script>
    <script src="{% static 'js/fastclick.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
    <!-- Responsive examples -->
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'pages/datatables.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static "js/custom-select.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        jQuery(function () {
            const data = {"csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()}
            const pred = new CustomSelect('#predict');
            const code = "{{ product.dt_code }}";
            for (let i = 0; i < pred.value; i++) {
                if (pred.value[i] != code[i]) {
                    $("#white").text(code.slice(0, i));
                    $("#yellow").text(code.slice(i,));
                    break;
                }
            }
            document.querySelector('#predict').addEventListener('select.change', (e) => {
                const btn = e.target.querySelector('.select__toggle');
                $("#white").text(code);
                $("#yellow").text("");
                for (let i = 0; i < btn.value.length; i++) {
                    if (btn.value[i] != code[i]) {
                        $("#white").text(code.slice(0, i));
                        $("#yellow").text(code.slice(i,));
                        break;
                    }
                }
            });
            $('#btn1').click(function () {
                data["code"] = "{{ product.dt_code }}";
                data["id"] = "{{ product.id }}";
                $.ajax({
                    url:"accept_left",
                    method:"post",
                    data:data,
                    success: function (data) {
                        document.location.href = document.location.origin + "/employee/products";
                    }
                })
            })
            $('#btn2').click(function () {
                data["code"] = pred.value;
                data["id"] = "{{ product.id }}";
                $.ajax({
                    url:"accept_right",
                    method:"post",
                    data:data,
                    success: function (data) {
                        document.location.href = document.location.origin + "/employee/products";
                    }
                })
            })
        })
    </script>

{% endblock %}