<!doctype html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="Mannatthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/custom-select.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    {% block header %}
    {% endblock %}
</head>


<body class="fixed-left">
<div style="position: absolute; width: 100%;height: 100%; background-color: #e0e0e089;z-index: 100; display: none">
    <div class="progress" style="margin: 32%;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
            <i class="ion-close"></i>
        </button>

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center bg-logo">
                <a href="{% url 'main' %}" class="logo"><img
                        src="https://customs.gov.ru/assets/frontend/images/small-logo.svg"> СОКК ФТС</a>
                <!-- <a href="index.html" class="logo"><img src="{% static 'images/logo.png' %}" height="24" alt="logo"></a> -->
            </div>
        </div>
        <div class="sidebar-user">
            <img src="{% static 'images/users/avatar-6.jpg' %}" alt="user" class="rounded-circle img-thumbnail mb-1">
            <h6 class="">Андрей Петров </h6>
            <p class=" online-icon text-dark"><i class="mdi mdi-record text-success"></i>Борисоглебск</p>
            <ul class="list-unstyled list-inline mb-0 mt-2">
                <li class="list-inline-item">
                    <a href="#" class="" data-toggle="tooltip" data-placement="top" title="Profile"><i
                            class="dripicons-user text-purple"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="" data-toggle="tooltip" data-placement="top" title="Settings"><i
                            class="dripicons-gear text-dark"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="" data-toggle="tooltip" data-placement="top" title="Log out"><i
                            class="dripicons-power text-danger"></i></a>
                </li>
            </ul>
        </div>

        <div class="sidebar-inner slimscrollleft">

            <div id="sidebar-menu">
                <ul>
                    <li class="menu-title">Основное</li>

                    <li>
                        <a href="{% url 'main' %}" class="waves-effect">
                            <i class="dripicons-device-desktop"></i>
                            <span> Главная</span>
                            {#                             <span class="badge badge-pill badge-primary float-right">7</span>#}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'code_to_text' %}" class="waves-effect"><i
                                class="fas fa-arrows-alt-h"></i><span> Описание по коду </span></a>
                    </li>

                    <li class="menu-title">Контроль</li>

                    <li>
                        <a href="{% url 'products' %}" class="waves-effect"><i
                                class="fab fa-product-hunt"></i><span> Товары </span></a>
                    </li>
                    <li>
                        <a href="{% url 'documentation' %}" class="waves-effect"><i
                                class="dripicons-document"></i><span> Документация</span></a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <!-- Top Bar Start -->
            <div class="topbar">

                <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
                        <!-- language-->
                        <li class="list-inline-item dropdown notification-list hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect text-white"
                               data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                Русский <img src="{% static 'images/flags/russia_flag.jpg' %}" class="ml-2" height="16"
                                             alt=""/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right language-switch">
                                <a class="dropdown-item" href="#"><img src="{% static 'images/flags/us_flag.jpg' %}"
                                                                       alt="" height="16"/><span> English </span></a>
                            </div>
                        </li>
                        {#                        <li class="list-inline-item dropdown notification-list">#}
                        {#                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"#}
                        {#                               role="button"#}
                        {#                               aria-haspopup="false" aria-expanded="false">#}
                        {#                                <i class="dripicons-mail noti-icon"></i>#}
                        {#                                <span class="badge badge-danger noti-icon-badge">5</span>#}
                        {#                            </a>#}
                        {#                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">#}
                        {#                                <!-- item-->#}
                        {#                                <div class="dropdown-item noti-title">#}
                        {#                                    <h5><span class="badge badge-danger float-right">745</span>Messages</h5>#}
                        {#                                </div>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon"><img src="{% static 'images/users/avatar-2.jpg' %}"#}
                        {#                                                                  alt="user-img" class="img-fluid rounded-circle"/>#}
                        {#                                    </div>#}
                        {#                                    <p class="notify-details"><b>Charles M. Jones</b><small class="text-muted">Dummy#}
                        {#                                        text of the printing and typesetting industry.</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon"><img src="{% static 'images/users/avatar-3.jpg' %}"#}
                        {#                                                                  alt="user-img" class="img-fluid rounded-circle"/>#}
                        {#                                    </div>#}
                        {#                                    <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You have#}
                        {#                                        87 unread messages</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon"><img src="{% static 'images/users/avatar-4.jpg' %}"#}
                        {#                                                                  alt="user-img" class="img-fluid rounded-circle"/>#}
                        {#                                    </div>#}
                        {#                                    <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a#}
                        {#                                        long established fact that a reader will</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- All-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item border-top">#}
                        {#                                    View All#}
                        {#                                </a>#}
                        {##}
                        {#                            </div>#}
                        {#                        </li>#}
                        {##}
                        {#                        <li class="list-inline-item dropdown notification-list">#}
                        {#                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"#}
                        {#                               role="button"#}
                        {#                               aria-haspopup="false" aria-expanded="false">#}
                        {#                                <i class="dripicons-bell noti-icon"></i>#}
                        {#                                <span class="badge badge-success noti-icon-badge">2</span>#}
                        {#                            </a>#}
                        {#                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">#}
                        {#                                <!-- item-->#}
                        {#                                <div class="dropdown-item noti-title">#}
                        {#                                    <h5><span class="badge badge-danger float-right">87</span>Notification</h5>#}
                        {#                                </div>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>#}
                        {#                                    <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy#}
                        {#                                        text of the printing and typesetting industry.</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>#}
                        {#                                    <p class="notify-details"><b>New Message received</b><small class="text-muted">You#}
                        {#                                        have 87 unread messages</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- item-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item">#}
                        {#                                    <div class="notify-icon bg-warning"><i class="mdi mdi-glass-cocktail"></i></div>#}
                        {#                                    <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is#}
                        {#                                        a long established fact that a reader will</small></p>#}
                        {#                                </a>#}
                        {##}
                        {#                                <!-- All-->#}
                        {#                                <a href="javascript:void(0);" class="dropdown-item notify-item border-top">#}
                        {#                                    View All#}
                        {#                                </a>#}
                        {##}
                        {#                            </div>#}
                        {#                        </li>#}
                        {##}
                        {#                        <li class="list-inline-item dropdown notification-list">#}
                        {#                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown"#}
                        {#                               href="#" role="button"#}
                        {#                               aria-haspopup="false" aria-expanded="false">#}
                        {#                                <img src="{% static 'images/users/avatar-6.jpg' %}" alt="user" class="rounded-circle">#}
                        {#                            </a>#}
                        {#                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">#}
                        {#                                <!-- item-->#}
                        {#                                <div class="dropdown-item noti-title">#}
                        {#                                    <h5>Welcome</h5>#}
                        {#                                </div>#}
                        {#                                <a class="dropdown-item" href="#"><i#}
                        {#                                        class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>#}
                        {#                                <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5 text-muted"></i> My#}
                        {#                                    Wallet</a>#}
                        {#                                <a class="dropdown-item" href="#"><span class="badge badge-success float-right">5</span><i#}
                        {#                                        class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>#}
                        {#                                <a class="dropdown-item" href="#"><i#}
                        {#                                        class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>#}
                        {#                                <div class="dropdown-divider"></div>#}
                        {#                                <a class="dropdown-item" href="#"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>#}
                        {#                            </div>#}
                        {#                        </li>#}
                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        {#                        <li class="hide-phone app-search">#}
                        {#                            <form role="search" class="">#}
                        {#                                <input type="text" placeholder="Search..." class="form-control">#}
                        {#                                <a href=""><i class="fas fa-search"></i></a>#}
                        {#                            </form>#}
                        {#                        </li>#}
                    </ul>

                    <div class="clearfix"></div>
                </nav>
            </div>
            <!-- Top Bar End -->

            {% block content %}
            {% endblock %}

        </div> <!-- content -->

        <footer class="footer">
            © 2022 StarTrek Team.
        </footer>

    </div>
    <!-- End Right content here -->

</div>

<!-- END wrapper -->


<!-- jQuery  -->
{% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/detect.js' %}"></script>
    <script src="{% static 'js/fastclick.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

    <script src="{% static 'plugins/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'pages/dashboard.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}


</body>
</html>